
.help-container {
    padding: 20px;
  
    h1 {
      margin: 20px 0;
      color: #a82b1e;
    }

    h2 {
      margin: 20px 0;
      color: #a82b1e;
    }
  
    p {
      margin: 10px 0;
    }
  }
  