.list{
  display: flex;
  width: 100%;

  .listContainer{
      flex: 6;

      .pintas1{
            
        display: flex;
        padding: 20px;
        gap: 20px;
        width: 20px;
        height: 220px;
        width: 100%
    }

    .pintas2{
        
        display: flex;
        padding: 20px;
        gap: 20px;
        width: 20px;
        height: 220px;
        width: 100%
    }
  }
}