.sidebarayuda{
  flex: 1;
  border-right: 0.5px solid rgb(233, 233, 233);
  min-height: 100vh;
  background-color: #000000;

  .topayuda{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      

      .logoayuda{
          font-size: 20px;
          font-weight: bold;
          color:#ff6d67
      }
      
  }

  hr{
      height: 0;
      border: 0.5px solid rgb(233, 233, 233);
  }

  .centerayuda{
      padding-left: 10px;
      

      ul{
          list-style: none;
          margin: 0;
          padding: 0;

          .tittleayuda{
              font-size: 10px;
              font-weight: bold;
              color: #999;
              margin-top: 15px;
              margin-bottom: 5px;

              
          }

          .linkayuda{
              text-decoration: none;
              color: white;
          }

          li {
              display: flex;
              align-items: center;
              padding: 10px;
              cursor: pointer;

              &:hover{
                  background-color: #ffbdce;
              }

              .iconayuda{
                  font-size: 18px;
                  color: #000000;
              }

              span{
                  font-size: 20px;
                  font-weight: 600;
                  color: white;
                  margin-left: 10px;
              }
          }
      }
  }

  .bottom{
      display: flex;
      align-items: center;
      margin: 10px;

      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #ff6d67;
          cursor: pointer;
          margin: 5px;
          
          &:nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: rgb(0, 0, 0);
          }
      }
  }
}