/* FeaturedOPTotal.css */

.featuredTOTAL {
    width: 300px; /* ajustar según sea necesario */
    margin: 0 auto; /* centrar el gráfico en la página */
}

.featuredTOTAL .topTOTAL .titleTOTAL {
    text-align: left; /* centrar el título */
    font-size: 24px; /* ajustar según sea necesario */
    font-weight: bold; /* hacer el título en negrita */
    margin-bottom: 5px; /* dar un poco de espacio entre el título y el gráfico */
}

.featuredTOTAL .bottomTOTAL .featuredChartTOTAL {
    height: 200px; /* ajustar según sea necesario */
    width: 200px; /* ajustar según sea necesario */
    margin: 0 auto; /* centrar el gráfico en su contenedor */
}
