.widget {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 30px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 80px;
    align-items: center;
  
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .center {
        .title-counter {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon{
                font-size: 18px;
                padding: 5px;
                background-color: #ffffff;
                border-radius: 5px;
                align-self: center;
                margin-top: 5px;
                
            }
  
            .title {
                font-weight: bold;
                font-size: 14px;
                color: #8b8a8a;
                padding: 10px;
                text-align: center;
            }
  
            .counter {
                font-size: 28px;
                font-weight: 300;
                text-align: center;
            }
        }
        }
    }
  