.datatable{
    height: 600px;
    padding: 20px;
  
    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: #a82b1e;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
  
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
  
        &.Activo{
            background-color: rgba(0, 128, 0, 0.05);
            color: green;
        }
        &.Inactivo{
            background-color: rgba(0, 128, 0, 0.05);
            color: red;
        }
    }
  }
  
  .cellAction{
    display: flex;
    align-items: center;
    gap: 15px;
  
    .viewButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.541);
        cursor: pointer;
    }
  
    .deleteButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(153, 18, 0);
        border: 1px dotted rgba(139, 9, 0, 0.541);
        cursor: pointer;
    }
  }
  